.bg{
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center;
  background-attachment: fixed;
  @include media-breakpoint-up('l'){
    display: flex !important;
    align-items: center;
  }
}